#title {
  text-align: center;
  color: #59CC59;
  font-weight: bold;
  font-size: 30px;
  text-decoration-style: solid;
  font-family: sans-serif;
}
#subtitle{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-decoration-style: solid;
  font-family: sans-serif;
}

.selectable {
  width: 300px;
  border: 25px solid blue;
  padding: 25px;
  margin: 25px;
}
