<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="index.css">

<body>

    <div ng-app="gmsim" ng-controller="gmCtrl" class="row">
        <div class="draft col-md-8">
            <div class="draftContainer" ng-show="draftComplete == false">
                <div ng-show="draftActive == false" style="text-align: center">
                    <p id="title"> Welcome to the {{year}} NBA Draft</p>
                    <p class="subtitle"> You own the #{{draftSlot}} and #{{draftSlot + 30}} overall picks in the draft. </p>
                    <!-- <form name="slotSelect">
                    <p> Choose Draft Slot </p>
                    <input name="slotChoice" type="number" min="0" max="30" ng-model="draftSlot" ng-change="validateSlot()" required></input>
                </form> -->
                    <!-- <div ng-show="validSlot == false">
                    <p> Please enter a valid slot (1-30) </p>
                </div> -->
                    <button ng-show="validSlot == true" ng-click="generatePicks(draftSlot)" class="button"> <span> Start Draft </span> </button>
                </div>
                <button ng-show="draftActive == true && roundActive == false" ng-click="generatePicks( draftSlot + 30)"> <span> Proceed to Next Round </span> </button>
                <div ng-show="roundActive == true" class="subtitle"> <span> Your draft position is: {{draftSlot}} </span> </div>
                <div ng-repeat="pick in playerOptions" ng-show="roundActive == true">
                    <div ng-click="markSelected(pick)" class="selectable">
                        <div class="cardText">
                            <span class="pickName"> {{pick.name}} ({{pick.type}}) </span>
                            <img src="http://www.brewoodjfc.co.uk/imageupload/silhouette_player.jpg" style="width:100%">
                            <p> Position: {{pick.position}} </p>
                            <p> Upside: {{pick.upside}} </p>
                            <p> Risk: {{pick.risk}} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="draftActive == true && roundActive == false">
                <p> You have selected: </p>
                <p> {{selectedPlayer.type}} </p>
            </div>
            <button ng-show="draftComplete == true"> <span> Proceed to Team </span> </button>
        </div>
        <div class="teamDisplay col-md-4 panel panel-primary">
            <div class="panel-heading text-center"> Current Team </div>
            <div class="panel-body fixed-panel">
                <div class="row playerProfile">
                    <div class="col-md-2">
                        <h3><br><span class = "label label-primary"> Guard </span></h3></div>
                    <div class="col-md-4 playerPicture">
                        <img src="http://clipart-library.com/images/gTe5X6gEc.png" style="width:80px;height:100px;"> <br>
                        <span>{{startingGuard.name}}</span>
                    </div>
                    <div class="panelText col-md-5 playerStats">
                        Role: {{startingGuard.type}} <br><br> Years Experience: {{year - 2017}} <br><br> Rating:
                        <span ng-repeat="i in getRating(startingGuard.type) track by $index">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </span>

                    </div>
                </div>
                <div class="row playerProfile">
                    <div class="col-md-2">
                        <h3><br><span class = "label label-primary"> Wing </span></h3></div>
                    <div class="col-md-4 playerPicture">
                        <img src="http://clipart-library.com/images/gTe5X6gEc.png" style="width:80px;height:100px;"> <br>
                        <span>{{startingWing.name}}</span>
                    </div>
                    <div class="panelText col-md-5 playerStats">
                        Role: {{startingWing.type}} <br><br> Years Experience: {{year - 2017}} <br><br> Rating:
                        <span ng-repeat="i in getRating(startingWing.type) track by $index">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </span>

                    </div>
                </div>
                <div class="row playerProfile">
                    <div class="col-md-2">
                        <h3><br><span class = "label label-primary"> Flex </span></h3></div>
                    <div class="col-md-4 playerPicture">
                        <img src="http://clipart-library.com/images/gTe5X6gEc.png" style="width:80px;height:100px;"> <br>
                        <span>{{startingFlex.name}}</span>
                    </div>
                    <div class="panelText col-md-5 playerStats">
                        Role: {{startingFlex.type}} <br><br> Years Experience: {{year - 2017}} <br><br> Rating:
                        <span ng-repeat="i in getRating(startingFlex.type) track by $index">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </span>

                    </div>
                </div>
                <div class="row playerProfile">
                    <div class="col-md-2">
                        <h3><br><span class = "label label-primary"> Forward </span></h3></div>
                    <div class="col-md-4 playerPicture">
                        <img src="http://clipart-library.com/images/gTe5X6gEc.png" style="width:80px;height:100px;"> <br>
                        <span>{{startingForward.name}}</span>
                    </div>
                    <div class="panelText col-md-5 playerStats">
                        Role: {{startingForward.type}} <br><br> Years Experience: {{year - 2017}} <br><br> Rating:
                        <span ng-repeat="i in getRating(startingForward.type) track by $index">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </span>

                    </div>
                </div>
                <div class="row playerProfile">
                    <div class="col-md-2">
                        <h3><br><span class = "label label-primary"> Big </span></h3></div>
                    <div class="col-md-4 playerPicture">
                        <img src="http://clipart-library.com/images/gTe5X6gEc.png" style="width:80px;height:100px;"> <br>
                        <span>{{startingBig.name}}</span>
                    </div>
                    <div class="panelText col-md-5 playerStats">
                        Role: {{startingBig.type}} <br><br> Years Experience: {{year - 2017}} <br><br> Rating:
                        <span ng-repeat="i in getRating(startingBig.type) track by $index">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
                <div class="row playerProfile">
                    <div class="col-md-2">
                        <h3><br><span class = "label label-primary"> 6th Man </span></h3></div>
                    <div class="col-md-4 playerPicture">
                        <img src="http://clipart-library.com/images/gTe5X6gEc.png" style="width:80px;height:100px;"> <br>
                        <span>{{sixthMan.name}}</span>
                    </div>
                    <div class="panelText col-md-5 playerStats">
                        Role: {{sixthMan.type}} <br><br> Years Experience: {{year - 2017}} <br><br> Rating:
                        <span ng-repeat="i in getRating(sixthMan.type) track by $index">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>
